
{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}object oriented design{%endblock%}

{%block question_list%}
        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 1) }}">
        Deck of Cards</a></h3>
        <h4>Design the data structures for a generic deck of cards and implement a version
        of Blackjack.</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 2) }}">
        Call Center</a></h3>
        <h4>Implement the data structures to simulate a call center.</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 3) }}">
        Jukebox</a></h3>
        <h4>Design and implement the data structures for a jukebox.</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_object_oriented_design', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var progressBar = document.getElementById('progress_bar');
    var numQuestions = 12;
    var numCompleted = 2;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';

    {%block chapter_num%}
    7
    {%endblock%}


</script>


{%endblock%}
