{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block style%}

.col{
margin-left:20%;
margin-right:20%;
text-align:"center";
float:"none";
display:"inline-block";
}
{%endblock%}

{%block back_to%}
<a href="{{url_for('main.algos_object_oriented_design', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Object Oriented Design</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_object_oriented_design', q_num=0)}}" >Back to Object Oriented Design</a>
{%endblock%}

{%block question_name%}
    Jukebox
{%endblock%}

{%block question_explanation%}
    Design the data structures to implement a jukebox
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}

<p>Below you can test the jukebox.</p>

<div class="container">
    <div class="row" style="text-align:center">
        <h4>Jukebox</h4>
        <h4><a style="cursor:pointer;" onclick="shuffleJuke()">Shuffle</a></h4>

        <h4><a style="cursor:pointer;" onclick="playSong()" id="play">Play</a><span> || </span>
            <a style="cursor:pointer;" onclick="nextSong()"> Next -></a></h4>

        <h4><a style="cursor:pointer;display:none" onclick="pauseSong()" id="pause">Pause</a></h4>
        <h4 style="display:none;" id="empty-msg">Your Jukebox is empty. Add songs to start.</h4>
        <div class="col" id="jukebox">

            <div style="width:50%;float:left;border:solid 1px red;display:none" id="available-songs"></div>
            <div style="width:50%;float:right;border:solid 1px red;display:none;" id="current-song-wrapper">
                <div id="current-song"></div>


                <img id="spin" src="{{url_for('static', filename='images/spinning_vynil.gif')}}"
                     style="width:70px;height:70px;display:none;">
                <img id="spin-stopped" src="{{url_for('static', filename='images/spin_stopped.png')}}"
                     style="width:70px;height:70px;display:none;">
            </div>


        </div>
    </div>

    <br>
    <div class="row" style="text-align:center;">
        <figure class="col-sm-2 col-sm-offset-1">
            <a onclick="addSong('Taxman')" style="margin:5px;cursor:pointer;">
            <img src="{{url_for('static', filename='images/revolver_album.jpg')}}" style="width:70px;height:70px;">
            <figcaption>Taxman</figcaption></a>
        </figure>

        <figure class="col-sm-2">
            <a onclick="addSong('Helter Skelter')" style="margin:5px;cursor:pointer;">
            <img src="{{url_for('static', filename='images/white_album.jpg')}}" style="width:70px;height:70px;">
                <figcaption>Helter Skelter</figcaption>
            </a>
        </figure>

        <figure class="col-sm-2">
            <a onclick="addSong('Revolution')" style="margin:5px;cursor:pointer;">
            <img src="{{url_for('static', filename='images/white_album.jpg')}}" style="width:70px;height:70px;">
            <figcaption>Revolution</figcaption></a>
        </figure>

        <figure class="col-sm-2">
            <a onclick="addSong('Yellow Submarine')" style="margin:5px;cursor:pointer;">
            <img src="{{url_for('static', filename='images/revolver_album.jpg')}}" style="width:70px;height:70px;">
            <figcaption> Yellow Submarine</figcaption>
                </a>
        </figure>


        <figure class="col-sm-2">
            <a onclick="addSong('Glass Onion')" style="margin:5px;cursor:pointer;">
            <img src="{{url_for('static', filename='images/white_album.jpg')}}" style="width:70px;height:70px;">
                <figcaption>Glass Onion</figcaption>
            </a>
        </figure>
    </div>

</div>


{%endblock%}

{%block code_intuition%}
<p></p>

{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> TODO</p>
    <section>
        <div class="code-lines">

        </div>
    </section>


{%endblock%}

{%block code_complexity%}
    <p>TODO</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/9679ea6af4812fce7fc11495912ec9ea.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

    <script>

    var Player = function() {
      this.songQueue = [];
      this.currentSong = null;
    };

    Player.prototype.shuffle = function() {
      this.songQueue.sort(() => Math.random() - 0.5);
    };

    Player.prototype.play = function() {

      if (!this.songQueue){
        console.log('jukebox is empty');
        return;
      }

      if (this.currentSong === null) {
        this.currentSong = this.songQueue[0];
        this.songQueue = this.songQueue.slice(1, this.songQueue.length);
      } else {
        return -1;
      }
    };

    Player.prototype.pause = function() {
      if (this.currentSong !== null) {
        this.currentSong.pause();
      } else {
        console.log('no song in queue');
      }
    };

    Player.prototype.nextSong = function() {
      this.currentSong = this.songQueue[0];
      this.songQueue = this.songQueue.slice(1, this.songQueue.length);
      //this.currentSong.play();
    };

    Player.prototype.addSong = function(song) {
      this.songQueue.push(song);
    };

    Player.prototype.currentSongName = function() {
      return this.currentSong.name;
    };


    var Song = function(name, trackFile) {
      this.name = name;
      this.track = new Audio(trackFile);
    };

    Song.prototype.play = function() {
      this.track.play();
    };

    Song.prototype.pause = function() {
      this.track.play();
    };

    var jukebox = new Player();

    var jukeDiv = document.getElementById('jukebox');
    var emptyMsg = document.getElementById('empty-msg');

    var availableDiv = document.getElementById('available-songs');
    var curDiv = document.getElementById('current-song');
    var curWrapper = document.getElementById('current-song-wrapper');

    var playDiv = document.getElementById('play');
    var pauseDiv = document.getElementById('pause');

    var spin = document.getElementById('spin');
    var spinStopped = document.getElementById('spin-stopped');

    function updateJukebox(){



        availableDiv.innerHTML = '';
        curDiv.innerHTML = '';

        if (jukebox.songQueue.length == 0 && !jukebox.currentSong){
            emptyMsg.style.display = 'inline';
            availableDiv.style.display = 'none';
            curWrapper.style.display = 'none';

        }
        else{

            emptyMsg.style.display = 'none';
            availableDiv.style.display = 'inline';
            curWrapper.style.display = 'inline';

            for (var i = 0; i < jukebox.songQueue.length; i ++){
                var songName = document.createElement('h5');
                songName.innerHTML = jukebox.songQueue[i];
                availableDiv.appendChild(songName);
            }

            if (jukebox.currentSong){
                var curSong = document.createElement('h5');
                curSong.innerHTML = jukebox.currentSong;
                curDiv.appendChild(curSong);
            }


        }

    }

    function addSong(songName){

        jukebox.addSong(songName);
        updateJukebox();
    }

    function playSong(){

        jukebox.play();
        spin.style.display='inline';
        spinStopped.style.display='none';
        updateJukebox();
        playDiv.style.display = 'none';
        pauseDiv.style.display = 'inline';

    }

    function pauseSong(){
        spin.style.display='none';
        spinStopped.style.display='inline';
        pauseDiv.style.display = 'none';
        playDiv.style.display = 'inline';

    }

    function shuffleJuke(){

        jukebox.shuffle();
        console.log(jukebox.songQueue);
        updateJukebox();

    }

    function nextSong(){

        jukebox.nextSong();
        updateJukebox();
    }

    updateJukebox();




    </script>


{%endblock%}