{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}math{%endblock%}

{%block question_list%}
        <h3><a href = "{{ url_for('main.algos_math', q_num = 1) }}">
        Generating Primes</a></h3>
        <h4>Efficiently generate all prime numbers within a given range.</h4>

        <h3><a href = "{{ url_for('main.algos_math', q_num = 2) }}">
        Heaviest Box</a></h3>
        <h4>Identify the heaviest of 10 candy boxes by <br>
        using a balance only once.</h4>

        <h3><a href = "{{ url_for('main.algos_math', q_num = 3) }}">
        Penalty Kicks</a></h3>
        <h4>Find the best option to gain a point in a penalty kick game.</h4>


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

   var progressBar = document.getElementById('progress_bar');
    var numQuestions = 10;
    var numCompleted = 3;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';



</script>


{%endblock%}

