
{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}bit manipulation{%endblock%}

{%block question_list%}

       <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 1) }}">
        Bit Insertion</a></h3>
        <h4>Insert a binary number into another one between two given bits.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 2) }}">
        Real To Binary</a></h3>
        <h4>Convert a real number to its binary representation.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 3) }}">
        Flip Bit To Win</a></h3>
        <h4>Find longest sequence of ones in binary number.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 4) }}">
        Next Number</a></h3>
        <h4>Find the next smallest and next largest number with<br>
        the same number of ones.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 5) }}">
        Powers Of Two</a></h3>
        <h4>Find what the code <span style="font-style:italic">(n & (n - 1)) == 0</span> does.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 6) }}">
        Conversion</a></h3>
        <h4>Find how many bits need to be flipped to convert one<br>
        binary number to another.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 7) }}">
        Pairwise Swap</a></h3>
        <h4>Swap every consecutive even and odd bits in string.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 8) }}">
        Draw Line</a></h3>
        <h4>---</h4>

{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var numQuestions = 8;
    var numCompleted = 8;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var progressBar = document.getElementById('progress_bar');

    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';



</script>


{%endblock%}
