
{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}bit manipulation{%endblock%}

{%block question_list%}

       <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 1) }}">
        Bit Insertion</a></h3>
        <h4>Insert a binary number into another one between two given bits.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 2) }}">
        Real To Binary</a></h3>
        <h4>Convert a real number to its binary representation.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 3) }}">
        Flip Bit To Win</a></h3>
        <h4>Find longest sequence of ones in binary number.</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var numQuestions = 8;
    var numCompleted = 3;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var progressBar = document.getElementById('progress_bar');

    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';



</script>


{%endblock%}
