
{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}bit manipulation{%endblock%}

{%block question_list%}

        {%set questions = [['Bit Insertion', 'Insert a binary number into another one between two given bits.'],
                          ['Real To Binary', 'Convert a real number to its binary representation.'],
                          ['Flip Bit To Win', 'Find longest sequence of ones in binary number.'],
                          ['Next Number', 'Find the next smallest and next largest number with',
                                                       'the same number of ones.'],
                          ['Powers Of Two', 'Find what the code (n & (n - 1)) == 0 does.'],
                          ['Conversion', 'Find how many bits need to be flipped to convert one',
                                                       'binary number to another.'],
                          ['Pairwise Swap', 'Swap every consecutive even and odd bits in string.'],
                          ['Draw Line', 'Get a a horizontal sub-section of a pixel display.']

               ]%}

        {%for i in range(1, 9)%}
       <div class="question">
         <h3><a href = "{{ url_for('main.algos_bit_manipulation', q_num = i) }}">
          {{questions[i - 1][0]}}</a></h3>
          <h4>
              {%for j in questions[i - 1][1:]%}
              {{j}}
              <br>
              {%endfor%}
          </h4>
        </div>
        {%endfor%}


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var numQuestions = 8;
    var numCompleted = 8;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var progressBar = document.getElementById('progress_bar');

    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';

    {%block chapter_num%}
    5
    {%endblock%}

</script>


{%endblock%}
