{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
<a href="{{url_for('main.algos_bit_manipulation', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Bit manipulation</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_bit_manipulation', q_num=0)}}" >Back to Bit manipulation</a>
{%endblock%}

{%block tags%}
<a href="#"></a>
<a href="#"></a>
{%endblock%}

{%block question_name%}
    Draw Line
{%endblock%}

{%block quick_explanation%}Get a a horizontal sub-section of a pixel display.{%endblock%}

{%block question_explanation%}
  Given an array of pixels, where each byte of pixel is stored in a sub array, write an algorithm to
    create a horizontal line from pixel <span class="code">x1</span> to pixel <span class="code">x2</span>
    at height <span class="code">y</span>
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>Below you can see the output of the algorithm in this question. Select the range of the line
    you'd like to see in the result canvas:</p>

    <p>x1: <input value="50" id="x1" style="width:50px"> x2: <input value="200" id="x2" style="width:50px"></p>
    <p>y: <input value="70" id="y" style="width:50px"></p>
    <p><a style="cursor:pointer" onclick="refreshDemo()">Refresh</a></p>


<div class="container">
    <div class="row" style="text-align:center">

        <canvas id="canvas" width="256" height="256"></canvas>
        <canvas id="res_canvas" width="256" height="256"></canvas>


    </div>
</div>


{%endblock%}

{%block code_intuition%}
<p>Please refer to steps below.</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> The core part of the function is simple. Given the <span class="code">x1, x2</span>
    range, we will find, for each pixel, its corresponding byte and bit. Then we set that bit to 1 in the screen mask.
</p>
<section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/da6625bbc6486ae924044156dabbc005.js"></script>
        </div>
</section>


<p><span class="step">Step 2</span>  To find the byte, we first use the information that the bite must be in the
    <span class="code">y-th</span> row to find the first byte of that row. Then we move right in the row by using the
    pixel's x coordinate.
</p>
<section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/6173e02502b1f581405309f8976df560.js"></script>
        </div>
</section>

<p><span class="step">Step 3</span>  Since each byte has size 8, to find the pixel within a byte, we simply need
    to take the mod 8 value of its x coordinate.
</p>
<section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/9658e7405a082949afb63fadda701a8f.js"></script>
        </div>
</section>


{%endblock%}

{%block code_complexity%}
    <p></p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/f50d06b6937abbfd6878c6e57d7bd2cf.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

      //to be used in dynamodb
      {%block q_name%}
      'draw_line_5.8'
      {%endblock%}


      function drawLine(screen, width, x1, x2, y) {
          var byte;
          var pixel;

          var findByte = function(x, y, width) {
            var start = y * width / 8;
            return start + Math.floor(x / 8);
          };

          var findPixel = function(x) {
            return x % 8;
          };

          for (var i = x1; i <= x2; i++) {
            byte = findByte(i, y, width);
            pixel = findPixel(i);
            screen[byte][pixel] = 1;
          }
          return screen;
        }



        //======================= APPLICATION

        function printCanvas(){

            var w = 256;
            var h = 256;
            var c = document.getElementById('canvas');
            var ctx = c.getContext('2d');

            var inc = 1;
            var range = [w/2 - inc * 5, w/2, w/2, w/2 + inc * 5];

            var screen = [];

            for (var i = 0; i < h; i ++){

                for (var j = 0; j < w; j ++){

                    var toFill = 0;
                    ctx.fillStyle = 'black';

                    // middle of A
                    if (i >= w/2 - w/16 && i < w/2){

                        if (j >= range[0] && j <= range[3]){

                        ctx.fillRect(j, i, 1, 1);
                        toFill = 1;
                        }

                    }

                    //two legs of A
                    if (i < w - w/4 && ((j >= range[0] && j <= range[1])
                            ||(j > range[2] && j <= range[3]))){

                        ctx.fillRect(j, i, 1, 1);
                        toFill = 1;
                    }

                    //bottom of T
                    if (i >= w/2 && j >= w/2 - w/32 && j <= w/2 + w/32){
                        ctx.fillRect(j, i, 1, 1);
                        toFill = 1;
                    }

                    if (toFill == 0){
                        ctx.fillStyle = 'rgb(34,139,34)';
                        ctx.fillRect(j, i, 1, 1);
                    }

                    if (screen.length == 0 || screen[screen.length - 1].length == 8){
                        screen.push([]);
                    }
                    screen[screen.length - 1].push(toFill);
                }
                if (i >= w/8 && i % 3 == 0){
                    range = [range[0] - inc, range[1] - inc, range[2] + inc, range[3] + inc];
                }
                else if (i < w/8 && i % 3 == 0){
                    range = [range[0] - inc, range[1], range[2], range[3] + inc];
                }

            }

            return screen;
        }

        var screen = printCanvas();

        function refreshDemo(){

            var mask = [];
            for (var i = 0; i < screen.length; i ++){
                mask.push([0, 0, 0, 0, 0, 0, 0, 0]);
            }

            var y = parseInt(document.getElementById('y').value);

            var margin = 1;

            var r1 = (y - margin) < 0 ? 0 : y - margin;
            var r2 = (y + margin) > 256 ? 256 : y + margin;

            for (var i = r1; i < r2; i ++){
                drawLine(mask, 256, parseInt(document.getElementById('x1').value),
                    parseInt(document.getElementById('x2').value), i);
            }


            var c = document.getElementById('res_canvas');
            var ctx = c.getContext('2d');

            var count = -1;

            for (var i = 0; i < 256; i ++){

                for (var j = 0; j < 256; j ++){
                    if (j % 8 == 0){
                        count++;
                    }

                    if (mask[count][j % 8] == 1){
                        ctx.fillStyle = 'white';
                    }
                    else{

                        if (screen[count][j % 8] == 1){
                            ctx.fillStyle = 'black';
                        }
                        else{
                            ctx.fillStyle = 'rgb(34,139,34)';
                        }
                    }
                    ctx.fillRect(j, i, 1, 1);

                }
            }




        }

        refreshDemo();








    </script>


{%endblock%}