{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
<a href="{{url_for('main.algos_bit_manipulation', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Bit manipulation</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_bit_manipulation', q_num=0)}}" >Back to Bit manipulation</a>
{%endblock%}

{%block tags%}
<a href="#">binary-to-decimal</a>
<a href="#">infinite-binary-numbers</a>
{%endblock%}

{%block question_name%}
    Real to Binary
{%endblock%}

{%block quick_explanation%}Convert a real number to its binary representation.{%endblock%}

{%block question_explanation%}
    Write an algorithm to convert a real number between <span class="code">0</span> and <span class="code">1</span>
    into its binary representation. If the number cannot be represented using 32 bits, return an error.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>Below you can see the output of the algorithm in this question. Click
        <span class="code">Refresh</span> to see another example.</p>

    <p><a style="cursor:pointer" onclick="refreshBiased()">Refresh</a></p>
    <p><a style="cursor:pointer" onclick="refreshDemo()">Refresh to random number</a></p>


<div class="container">
    <div class="row" style="text-align:center">

        <div class="col" style="textAlign:center;float:none;display:inline-block; margin:10px;">
            <p id="input"></p>
        </div>

        <div class="col" style="textAlign:center;float:none;display:inline-block; margin:10px;">
            <p style="float:center;"><img src="{{url_for('static', filename='images/right_arrow.png')}}" style="width:30px;height:20px;"></p>
        </div>

        <div class="col" style="textAlign:center;float:none;display:inline-block; margin:10px;">
            <p id="out"></p>
        </div>

    </div>
    </div>


{%endblock%}

{%block code_intuition%}
<p>Please refer to steps below.</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> Since we are interested in real numbers
    in the range <span class="code">(0,1)</span>, the binary representation (if any) will have a
    leading <span class="code">"0."</span>. Thus, we initialize the output as:</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/f440746d7ab3d254d12ce5757592ffdf.js"></script>
        </div>
    </section>


<p><span class="step">Step 2</span> In binary, the <span class="code">i-th</span>
bit after the point represents the decimal <span class="code">Math.pow (2, -i)</span>. Thus, for each
    <span class="code">i</span> we check if the input is greater than the contribution of the
<span class="code">i-th</span> bit. If so, we subtract this from the input.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/43db901b0d6cc262af20ff30b6817306.js"></script>
        </div>
    </section>

<p><span class="step">Step 3</span> At the end, if we could represent the number in binary, we subtracted all parts
of the input from itself. Thus, <span class="code">number</span> must be zero. We also check if we used at most
    <span class="code">32</span> bits.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/e8ca3d6f91524dd70c31578b3564a71a.js"></script>
        </div>
    </section>


{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/a26f2bdfc6808ef7c9d7daaac3cfc7d6.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'real_to_binary_5.2'
      {%endblock%}

        function RealToBinary(number) {
          var n = 1;
          var str = '0.';

          while (n <= 32 && number > 0) {

            if (number >= Math.pow(2, -n)){
              number -= Math.pow(2, -n);
              str += '1';
            }
            else{
              str += '0';
            }
            n++;
          }

          if (n === 33 && number > 0) {
            return 'Can\'t be represented with 32 bits';
          }
          else {
            return str;
          }
        }

        function refreshDemo(){

            var input = (Math.random() + 0.0001).toFixed(4);
            var out = RealToBinary(input);

            document.getElementById('input').innerHTML = input;

            document.getElementById('out').innerHTML = out;
            document.getElementById('out').style.color = 'green';

            if (out == 'Can\'t be represented with 32 bits'){
                document.getElementById('out').style.color = 'red';
            }
        }

        function refreshBiased(){

            var input = (Math.random() + 0.0001).toFixed(4);
            var out = RealToBinary(input);
            while(out == 'Can\'t be represented with 32 bits'){
                input = Math.random().toFixed(4);
                out = RealToBinary(input);
            }

            document.getElementById('input').innerHTML = input;

            document.getElementById('out').innerHTML = out;
            document.getElementById('out').style.color = 'green';

        }

        refreshBiased();


    </script>


{%endblock%}