{%extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jinni_new_song.css') }}">
    </head>

<div class="row">
    <a href="{{url_for('main.algos')}}" >Back to Algos</a>
    <div class="col-lg-6 col-md-offset-3">

        <div id="progress_bar" class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
                    </div>

        <br>
        <h2>Learn about arrays and strings.</h2>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 1) }}">
        Unique Characters (TODO)</a></h3>
        <h4>Check is a string does not contain repetitive characters</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 2) }}">
        Check Permutation</a></h3>
        <h4>Check is two strings are permutation of one another</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 3) }}">
        URL Converter</a></h3>
        <h4>Convert a string to its URL form</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 4) }}">
        Palindrome Permutation (TODO)</a></h3>
        <h4>Given a string, check if it is the permutation of a palindrome</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_arrays_and_strings', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

    </div>
</div>




{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var progressBar = document.getElementById('progress_bar');
    var numQuestions = 9;
    var numCompleted = 2;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';


</script>

{%endblock%}