{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block style%}

{%endblock%}


{%block back_to%}
<a href="{{url_for('main.algos_arrays_and_strings', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Arrays and Strings</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_arrays_and_strings', q_num=0)}}" >Back to Arrays and Strings</a>
{%endblock%}

{%block sim_questions%}
{%endblock%}

{%block tags%}
<a href="#">concat</a>
{%endblock%}

{%block sim_questions_side%}
{%endblock%}

{%block question_name%}
    String Rotation
{%endblock%}

{%block question_explanation%}
    By using a single call to the st1.includes(str2) method in javascript (or an equivalent method in another language),
write an algorithm that checks if a string is a rotation of another string.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
<p>This problem makes me think of those scrolling boards used to display messages. With this, this algorithm
can be used to check at any given point if the current shown string corresponds to the input string.
    Please click <span class="code">Stop rotating</span> to start.</p>


<div class="container">

    <p><a style="cursor:pointer" onclick="stop()" id="stop">Stop rotating</a></p>
    <p><a style="cursor:pointer; display:none;" onclick="resume()" id="resume">Resume</a></p>

    <div class="row" style="text-align:center">

        <div class="col-sm-4" style="text-align:center;float:none;display:inline-block;background-color:black">
            <p style="color:white" id="rotating_text"></p>
        </div>
    </div>

    <br>
    <div id="options" style="display:none;">
        <p><a style="cursor:pointer;" onclick="checkIfMatch(0)">Check if it matches:</a>
        ''It is what is that is. ''</p>

        <p><a style="cursor:pointer;" onclick="checkIfMatch(1)">Check if it matches:</a>
        'It what it is that is. '</p>

        <p><a style="cursor:pointer;" onclick="checkIfMatch(2)">Check if it matches:</a>
        'What it is is that is. '</p>

        <p id="result"></p>
        </div>

</div>
{%endblock%}

{%block code_intuition%}
<p>Assume the two strings are rotation of one another. Then we can write
    <span class="code">s1 = 'xy'</span> and <span class="code">s2 = 'yx'</span> for some <span class="code">x, y</span>
substrings. Then if we consider <span class="code">s2</span>, that is a substring of <span class="code">s1 + s1</span>.
</p>

<a onclick="showAnswer(1);" style="cursor:pointer;"><p><img src="{{url_for('static', filename='images/question.png')}}" class="question_img" style="width:50px;height:50px;">
        <span style="color:rgb(255,56,0);">Conversely, if we have <span class="code">s2</span> a substring of <span class="code">s1 + s1</span>,
             can we conclude that they are rotation of each other?</span>
    </p></a>

    <div class="row answer-div" style="background-color:rgb(150,228,228);border-radius:35px;">
    <p id="answer1" style="display:none;color:rgb(300,376,228);"><img style="width:48px; height:60px;" src="{{ url_for('static', filename='images/rabbit.png') }}">
    Yes. That is assuming the string are of equal length (else they can't be rotations), we necessarily need one portion
    of <span class="code">s2</span> lying in the beginning of <span class="code">s1</span> and the other part in the end.</p>
        </div>

{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span>We know if the string have different lengths,
    they can't be a rotation of each other. Thus, we return <span class="code">false</span>.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/0e6ff79556e3326a7b47271c79069250.js"></script>
        </div>
    </section>

<p><span class="step">Step 2</span> We follow the steps in the <span class="code">Intuition</span> section above:</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/477c151fe0193b500dddcd2b2879a199.js"></script>
        </div>
    </section>



{%endblock%}

{%block code_complexity%}
<p>The algorithm has both time and space complexity <span class="code">O(1)</span>.</p>
{%endblock%}

{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/d617db1f91c48f4744492e697537c64d.js"></script>
{%endblock%}



{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

    <script>

    {%block q_name%}
      'string_rotation'
      {%endblock%}

        var text = 'It is what is that is. ';
        var textSpan = document.getElementById('rotating_text');

        var i = 0;

        var temp = setInterval(rotate, 100);

        function rotate() {

          if (i >= text.length){
                i = 0;
            }

            var cur = text.substring(i, text.length);
            cur = cur + text.substring(0, i);

            textSpan.innerHTML = cur;

            i ++;
        }

        rotate();


        function stop(){

            clearInterval(temp);

            document.getElementById('stop').style.display = 'none';
            document.getElementById('options').style.display = 'inline';
            document.getElementById('result').style.display = 'inline';
            document.getElementById('resume').style.display = 'inline';
        }
        function resume(){

            temp = setInterval(rotate, 100);
            rotate();

            document.getElementById('options').style.display = 'none';
            document.getElementById('result').style.display = 'none';
            document.getElementById('result').innerHTML = '';
            document.getElementById('resume').style.display = 'none';
            document.getElementById('stop').style.display = 'inline';
        }


        function isRotation(s1, s2){

          if (s1.length != s2.length){
            return false;
          }

          var joint = s1.concat(s1);

          return joint.includes(s2) ? true : false;
        }

        var options = ['It is what is that is. ',
                       'It what it is that is. ',
                       'What it is is that is. ']

        function checkIfMatch(num){

            var bool = isRotation(options[0], options[num]);

            if (bool){
                document.getElementById('result').style.color = 'green';
                document.getElementById('result').innerHTML = 'It is a match!';
            }
            else{
                document.getElementById('result').style.color = 'red';
                document.getElementById('result').innerHTML = 'Not a match.';
            }


        }





    </script>


{%endblock%}