{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
        <a href="{{url_for('main.algos_arrays_and_strings', q_num=0)}}" >Back to Arrays and Strings</a>
{%endblock%}

{%block question_name%}
    Palindrome Permutation
{%endblock%}

{%block question_explanation%}
    Write an algorithm to identify whether one of its possible permutations is a palindrome.
    <br><br>
    <span style="color:rgb(0,0,0); font-style:italic;">Example:</span> The method should return
    <span class="code">true</span> for <span style="font-style:italic">arara</span> as
    <span style="font-style:italic">raara</span> is both a palindrome and a permutation of
    <span style="font-style:italic">arara</span>
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>TODO</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> </p>
    <section>
        <div class="code-lines">
            <p>TODO</p>
        </div>
    </section>
{%endblock%}

{%block code_complexity%}
    TODO
{%endblock%}

{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/48ce6c9bfe46da148e15cd5c9e97732d.js"></script>
{%endblock%}



{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


{%endblock%}