{%extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
    <head>

        <style>

            .sidenav {
              width: 16%;
              position: fixed;
              z-index: 1;
              background: rgb(300,250,204);
              opacity:0.7;
              overflow: hidden;
              margin-left: 5px;
              border-radius:15px;

            }

            .sidenav a {
              padding: 6px 8px 6px 16px;
              text-decoration: none;
              font-size: 20px;
              color: #2196F3;
              display: block;
            }

            .sidenav:hover{
            opacity:1;
            }

            .sidenav a:hover {
              color: #064579;
            }

            .left-col{
            width:20%;
            float:left;
            display:none;
            }

            .right-col{
            width:20%;
            float:right;
            display:none;
            overflow: hidden;
            }

            .main-col{
            width:100%;
            }

            @media screen and (min-width: 600px) {
              .left-col {display:inline}
              .right-col {display:inline}
              .main-col {width:60%}
            }


        </style>

    </head>

<body>
    <div class="container">

        <div class="row" style="display:flex;justify-content:left">

            <div class="left-col">
                <div  class="sidenav">
              <h4 style="cursor:context-menu">What</h4>

                <hr class="side-hr">
                <h4 style="cursor:context-menu">Now</h4>

            </div>
            </div>

            <div class="main-col">

                <h2>Topics<br></h2>

                <h4><a href = "{{ url_for('main.algos_arrays_and_strings', q_num=0) }}"> Arrays and Strings<img
                        style="width:110px; height:50px;" src="{{ url_for('static', filename='images/array.png') }}">
                </a></h4>

                <h4><a href = "{{ url_for('main.algos_linked_lists', q_num=0) }}"> LinkedLists<img
                        style="margin:10px;width:120px; height:50px;" src="{{ url_for('static', filename='images/linked_list.png') }}"></a></h4>

                <h4><a href = "{{ url_for('main.algos_stacks_and_queues', q_num=0) }}"> Stacks and Queues<img
                        style="width:50px; height:100px;" src="{{ url_for('static', filename='images/stack.png') }}">
                </a></h4>

                <h4><a href = "{{ url_for('main.algos_trees_and_graphs', q_num=0) }}"> Trees and Graphs<img
                        style="width:120px; height:100px;" src="{{ url_for('static', filename='images/binary_tree.png') }}"></a></h4>

                <h4><a href = "{{ url_for('main.algos_bit_manipulation', q_num=0) }}"> Bit Manipulation<img
                        style="margin:10px;width:80px; height:80px;" src="{{ url_for('static', filename='images/bits.png') }}"></a></h4>

                <h4><a href = "{{ url_for('main.algos_math', q_num=0) }}"> Math<img
                        style="width:80px; height:100px;" src="{{ url_for('static', filename='images/rabbit.png') }}"></a></h4>

                <h4><a href = "{{ url_for('main.algos_object_oriented_design', q_num=0) }}"> Object Oriented Design<img
                        style="width:80px; height:100px;" src="{{ url_for('static', filename='images/rabbit.png') }}"></a></h4>

            </div>

            <div class="right-col">
                <div  class="sidenav">
              <h4 style="cursor:context-menu">Top rated questions</h4>
                    <div id="popular_questions">


                        </div>

                <hr class="side-hr">
                <h4 style="cursor:context-menu">Now</h4>

            </div>
            </div>

        </div>
        <br>
        <div class="row" style="display:flex;justify-content:left">
            <div id="progress_bar" class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
                    </div>
                <br>
        </div>
    </div>
</body>

{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    var progressBar = document.getElementById('progress_bar');
    var currProgress = (88 + 62 + 58 + 38 + 87 + 30 + 16) / 7;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';


    function decodeURL(encoded){

        var parts = encoded.split('.');
        if (parts[0] == 1){
            var temp = "{{url_for('main.algos_arrays_and_strings', q_num=-1)}}";
        }
        else if (parts[0] == 2){
            var temp = "{{url_for('main.algos_linked_lists', q_num=-1)}}";
        }
        else if (parts[0] == 3){
            var temp = "{{url_for('main.algos_linked_lists', q_num=-1)}}";
        }

        return temp.replace("-1", parts[1].toString());
    }

    //decodes entry from dynamodb into name and filename
    function decodeQuestionDynamo(entry){

        var parts = entry.split('_');
        var qURL = decodeURL(parts[parts.length - 1]);

        var qName = '';
        for (var i = 0; i < parts.length - 1; i ++){
            qName += parts[i].charAt(0).toUpperCase() + parts[i].slice(1);
            qName += ' ';
        }

        return [qName, qURL];
    }


    function buildStars(w){

        var mainDiv = document.createElement('div');
        mainDiv.style.unicodeBidi = "bidi-override";
        mainDiv.style.color =  "#c5c5c5";
        mainDiv.style.fontSize = "18px";
        mainDiv.style.height = "18px";
        mainDiv.style.width = "70px";
        mainDiv.style.margin = "0 auto";
        mainDiv.style.position = "relative";
        mainDiv.style.padding = "0";
        mainDiv.style.textShadow = "0px 1px 0 #a2a2a2";

        var firstRow = document.createElement('div');
        firstRow.style.color = "#e7711b";
        firstRow.style.padding = "0";
        firstRow.style.position = "absolute";
        firstRow.style.zIndex = "1";
        firstRow.style.display = "block";
        firstRow.style.top = "0";
        firstRow.style.left = "0";
        firstRow.style.overflow = "hidden";
        firstRow.style.width = ((w / 5) * 100) + '%';

        var secRow = document.createElement('div');
        secRow.style.padding = "0";
        secRow.style.display = "block";
        secRow.style.zIndex = "0";

        for (var i = 0; i < 5; i ++){

            var star1 = document.createElement('span');
            star1.innerHTML = "★";
            var star2 = document.createElement('span');
            star2.innerHTML = "★";

            firstRow.appendChild(star1);
            secRow.appendChild(star2);
        }

        mainDiv.appendChild(firstRow);
        mainDiv.appendChild(secRow);

        return mainDiv;
    }

    var popDiv = document.getElementById('popular_questions');

    //get top rated questions
    var num_questions = 3;
    fetch('https://ixhfi1trf3.execute-api.us-east-2.amazonaws.com/firstAPI/best_ranked')
          .then(function(response) {

            return response.json();
          })
          .then(function(json) {

            if (json.length >= num_questions){
                for (var i = 0; i < num_questions; i ++){

                    var item = decodeQuestionDynamo(json[i]['id']);
                    var qItem = document.createElement('a');

                    qItem.href = item[1];
                    qItem.innerHTML = item[0];
                    qItem.style.cursor = "pointer";
                    popDiv.appendChild(buildStars(json[i]['cur_rank']));
                    popDiv.appendChild(qItem);

                }
            }

          });


    </script>
{%endblock%}