{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block back_to%}
<a href="{{url_for('main.algos_trees_and_graphs', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Trees and Graphs</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_trees_and_graphs', q_num=0)}}" >Back to Trees and Graphs</a>
{%endblock%}

{%block question_name%}
    Path Existance
{%endblock%}

{%block question_explanation%}
    Write an algorithm to find whether there exists a path between two nodes in a graph
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>This algorithm can be used to check whether or not two people are connected in
    a social network. <br><br>
        For example, in the undirected graph below, edges represent whether two
        people (represented by different colors) know each other. Select two people to check if
        they know people in common or not.</p>


<canvas id="canvas" width="500" height="200">
Your browser does not support the HTML5 canvas tag.</canvas>

<p><a onclick="refreshGraph();" style="cursor:pointer;">Refresh graph</a></p>

<form action="">
    <span style="font-weight:bold;">Select first person:</span>
  <select id = "first_person" name="people">
    <option value="0">Angela</option>
    <option value="1">Joao</option>
    <option value="2">Elvira</option>
    <option value="3">Ringo</option>
      <option value="4">Pedro</option>
      <option value="5">Carol</option>
      <option value="6">Sofia</option>
      <option value="7">Jude</option>
  </select>
</form>

<form action="">
    <span style="font-weight:bold;">Select second person:</span>
  <select id = "second_person" name="people">
      <option value="3">Ringo</option>
    <option value="0">Angela</option>
    <option value="1">Joao</option>
    <option value="2">Elvira</option>
      <option value="4">Pedro</option>
      <option value="5">Carol</option>
      <option value="6">Sofia</option>
      <option value="7">Jude</option>
  </select>
</form>
<br>
<p><a onclick="checkIfPathExists();" style="cursor:pointer;">Check if path exists</a></p>


<p id="path_exists_result"></p>

{%if path_bool != -1%}
{%if path_bool%}
<p style="color:green">The selected people are friends</p>
{%else%}
<p style="color:red">They are not friends</p>
{%endif%}
{%endif%}

{%endblock%}

{%block code_intuition%}
<p>We perform a Breadth First Search (BFS) in the graph starting at one of the given nodes
    and stop either when the other node is found, returning <span class="code">True</span>.
    Or when the BFS is completed, returning <span class="code">False</span> if the other node
    was not found.</p>

{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> This is the base case. If the end node is the same
as the start node, the path is trivial. We return <span class="code">True</span>.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/4b4ce103c71e1241d1278966c3e6e6e3.js"></script>
        </div>
    </section>

<p><span class="step">Step 2</span> Now we perform a slightly modified version of BFS. The only difference is that
    for each node we visit, we check if we reach our destination node. If so, we return <span class="code">True</span> to
    indicate a path was found. If you need help understanding BFS, please visit <a href="#">here</a>.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/ca26e5a3ec6ba4ceb19ea04f6310a57e.js"></script>
        </div>
    </section>
{%endblock%}

{%block code_complexity%}
    <p>The time complexity for this code is <span class="code">O(n)</span>, where <span class="code">
        n</span> is the number of nodes in graph. The space complexity is <span class="code">O(1)</span>.</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/21ecba52e7a587e9eb6098c41c1fdad4.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

    <script>

    //to be used in dynamodb
      {%block q_name%}
      'path_existance_4.1'
      {%endblock%}

    //dimensions of canvas 500 by 200

    var c = document.getElementById("canvas");
    var ctx = c.getContext("2d");

    var names = ['Angela', 'Joao', 'Elvira', 'Ringo', 'Pedro',
    'Carol', 'Sofia', 'Jude'];

    function addNodes(){
        //upper row of nodes
        for (var i = 1; i < 5; i ++){
            ctx.beginPath();
            var offset = (i-1) + 1.8*i
            ctx.font = "20px Georgia";
            ctx.fillText(names[i-1],(offset-0.6)*41 , 41 + 5);
            ctx.arc(offset*41, 41, 40, 0, 2 * Math.PI);
            ctx.stroke();
        }

        //lower row of nodes
        for (var i = 1; i < 5; i ++){
            ctx.beginPath();
            var offset = (i-1) + 1.8*i
            ctx.font = "20px Georgia";
            ctx.fillText(names[i+3],(offset-0.6)*41 , 3.8*41 + 5);
            ctx.arc(offset*41, 3.8*41, 40, 0, 2 * Math.PI);
            ctx.stroke();
        }

    }


    var edgesVec = [];

    function randomEdges(){

        edgesVec = [];

        for (var i = 0; i < 13; i ++){

            var temp = Math.floor(Math.random() * 10);
            edgesVec.push(temp <= 5 ? 1 : 0);
         }
    }

    function updateDisplay(edges){

        var c = 0

        //1-2, 2-3, 3-4
        for (var i = 1; i < 4; i ++){

            if (edges[c] == 1){
                ctx.beginPath();
                ctx.moveTo((i*1.8 + i)*41, 41);
                ctx.lineTo(((i+1)*1.8 + (i-1))*41, 41);
                ctx.stroke();
            }
            c ++;
        }

        //5-6, 6-7, 7-8
        for (var i = 1; i < 4; i ++){
            if (edges[c] == 1){
                ctx.beginPath();
                ctx.moveTo((i*1.8 + i)*41, 3.8*41);
                ctx.lineTo(((i+1)*1.8 + (i-1))*41, 3.8*41);
                ctx.stroke();
            }
            c ++;
        }

        //1-5, 2-6, 3-7, 4-8
        for (var i = 1; i < 5; i ++){
            if (edges[c] == 1){
                ctx.beginPath();
                ctx.moveTo((i*1.8 + i - 1)*41, 2*41);
                ctx.lineTo((i*1.8 + i - 1)*41, 2.8*41);
                ctx.stroke();
            }
            c ++;
        }

        //diagonals 1-6,  2-7, 3-8
        for (var i = 1; i < 4; i ++){
            if (edges[c] == 1){
                ctx.beginPath();
                ctx.moveTo((i*1.8 + 0.9 + i - 1)*41, (2 -0.707)*41);
                ctx.lineTo(((i + 1)*1.8 -0.9 + (i+1) - 1)*41, (2.8 + 0.707)*41);
                ctx.stroke();
            }
            c++;
        }
    }

    function refreshGraph(){

        ctx.clearRect(0, 0, c.width, c.height);
        randomEdges();

        addNodes();
        updateDisplay(edgesVec);


    }

    function buildGraph(edgesVec){

        var graph = [];
        for (var i = 0; i < 8; i ++){
            graph.push([]);
        }

        // build graph
        for (var i = 0; i < edgesVec.length; i ++){

            if (edgesVec[i] == 0){
                continue;
            }

            // i is connected to i + 1 (total 3)
            if (i < 3){
                graph[i].push(i + 1);
                graph[i + 1].push(i);
            }

            // i + 1 is connected to i + 2 (total 3)
            else if (i >= 3 && i < 6){
                graph[i + 1].push(i + 2);
                graph[i + 2].push(i + 1);
            }

            // i - 6 is connected to (i - 6) + 4 (total 4)
            else if (i >= 6 && i < 10){
                graph[i - 6].push((i - 6) + 4);
                graph[(i - 6) + 4].push(i - 6);
            }

            // i - 10 is connected to (i - 10) + 5
            else{
                graph[i - 10].push((i - 10) + 5);
                graph[(i - 10) + 5].push(i - 10);
            }

        }

        return graph;

    }

    function pathExists(start, end, graph){

        if (start == end){
            return true;
        }

        var visited = [];
        for (var i = 0; i < graph.length; i ++){
            visited.push(0);
        }

        visited[start] = 1;
        var queue = [start];

        while (queue.length > 0){
            curr = queue[0];

            for ( var i = 0; i < graph[curr].length; i ++){

                if (graph[curr][i] == end){
                    return true;
                }

                if (!visited[graph[curr][i]]){
                    visited[graph[curr][i]] = true;
                    queue.push(graph[curr][i]);
                }
            }
            queue.shift();
        }

        return false;
    }

    function checkIfPathExists(){

        var p1Index = parseInt(document.getElementById('first_person').value);
        var p2Index = parseInt(document.getElementById('second_person').value);

        var graph = buildGraph(edgesVec);

        var pathBool = pathExists(p1Index, p2Index, graph);

        var txtResult = pathBool ? "The selected people are friends" : "The selected people are not friends";

        var resultPar = document.getElementById('path_exists_result');

        resultPar.style.color = pathBool ? 'green' : 'red';
        resultPar.innerHTML = txtResult;

    }

    refreshGraph();

    </script>


{%endblock%}