{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
        <a href="{{url_for('main.algos_trees_and_graphs', q_num=0)}}" >Back to Trees and Graphs</a>
{%endblock%}

{%block question_name%}
    Employee Hierarchy
{%endblock%}

{%block question_explanation%}
    Given a table with the employees and their respective managers, build a graph that represents the
    company's hierarchical structure. Note that the graph can be disconnected or connected and each node
    can have arbitrarily many edges.
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}
<p>Here you can see what the algorithm looks like in action for some sample data. Click <span class="code">refresh</span>
below to get new random sample data.</p>

<button onclick="refreshDemo()">Refresh</button>

<div id="table_data" class="row"></div>

<div class="container">
    <div class="row" id="canvases">

    </div>
</div>

{%endblock%}

{%block code_intuition%}
 <p>The idea is to construct each level of the hierarchy iteratively, starting from the level of people that
    do not manage anyone. </p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span>  </p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/b2502f15e85adc2304737dc3f9f6b21d.js"></script>
        </div>
    </section>



{%endblock%}

{%block code_complexity%}
<p></p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/27eac3207d50c774019f06babf819968.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

    <script>

         var Graph = function (){
            this.nodes = [];
          }

          Graph.prototype.addNode = function (node){
            this.nodes.push (node);
          }

          var GraphNode = function (data){
            this.data = data;
            this.children = [];
            this.visited = false;
          }

          GraphNode.prototype.addChildren = function (node){
            this.children.push (node);
          }

        // ========================================================== FOR DEMO

        var tableData = document.getElementById('table_data');

        var names = ['Ringo', 'John', 'Alfred', 'Angela', 'Julia',
                    'Jude', 'Yolanda', 'Jude', 'Catarina', 'Sofia',
                    'Potato', 'Pedro', 'Fiona', 'Cyrus', 'Olivia',
                    'Cyrille', 'Hong', 'Elvira', 'Carol', 'Obama',
                    'Usain', 'Flavio', 'Jeremy', 'Roberto', 'Daiki'];

        var managers = names.slice(0, Math.floor(names.length/2));
        var colSize = 5;


        function splitAxis(totalWidth, numSlots, radius){

            var middle = Math.floor(totalWidth/2);

            var out = [];

            var numOnSides = Math.floor((numSlots - 1) / 2);

            for (var i = numOnSides; i > 0; i --){
                out.push(middle - i * radius * 2);
            }

            out.push(middle);

            for (var i = 1; i <= numOnSides; i ++){
                out.push(middle + i * radius * 2);
            }

            if (((numSlots - 1) / 2) % 2 != 2){
                out.push(middle + (numOnSides + 1) * radius * 2);
            }

            return out;

        }

        function connectCircles(x1, y1, x2, y2, radius, c){

            var ctx = c.getContext("2d");
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 3;
            var startX = x1;
            var startY = y1 + radius;
            var endX = x2;
            var endY = y2 - radius;

            if (x1 == x2){

                ctx.beginPath();
                ctx.moveTo(startX, startY);
                ctx.lineTo(endX, endY);
                ctx.stroke();
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                return;

            }

            var slope = (y2 - y1)/(x2 - x1);

            startX = x1 + radius / Math.sqrt(1 + Math.pow(slope, 2));
            startY = slope * startX + (y1 - x1 * slope);

            if (startX > x2){
                startX = x1 - radius / Math.sqrt(1 + Math.pow(slope, 2));
                startY = slope * startX + (y1 - x1 * slope);
            }

            endX = x2 + radius / Math.sqrt(1 + Math.pow(slope, 2));
            endY = slope * endX + (y1 - x1 * slope);

            if (endX > x1){
                endX = x2 - radius / Math.sqrt(1 + Math.pow(slope, 2));
                endY = slope * endX + (y1 - x1 * slope);
            }


            ctx.beginPath();
            ctx.moveTo(startX, startY);
            ctx.lineTo(endX, endY);
            ctx.stroke();
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 1;
        }

        function getCanvasDim(graph, start) {


            for (var i = 0; i < graph.nodes.length; i ++){
                graph.nodes[i].visited = false;
            }

            var fakeQueue = [start];
            var depthQueue = [1];

            var depth = 0;
            var rowLens = {};

            start.visited = true;

            while (fakeQueue.length > 0){


              var curr = fakeQueue[0];
              var level = depthQueue[0];

              if (level > depth){
                depth = level;
              }

              //store the number of items in each level
              if (curr.children.length != 0){
                  if (!rowLens[level + 1]){
                    rowLens[level + 1] = curr.children;
                  }
                  else{
                    rowLens[level + 1] = rowLens[level + 1].concat(curr.children);
                  }
              }

              for (var i = 0; i < curr.children.length; i ++){

                if (!curr.children[i].visited){

                  curr.children[i].visited = true;
                  fakeQueue.push(curr.children[i]);
                  depthQueue.push(level + 1);
                }
              }

              fakeQueue.shift();
              depthQueue.shift();
            }

            return [depth, rowLens];
        }


        function canvasBfs(graph, start, c, radius, rowLens) {

            // canvas setup
            var ctx = c.getContext("2d");
            ctx.font = "20px Georgia";
            var level = 0;
            var yOffset = radius;
            var xOffset = c.width / 2;

            //draw root node
            ctx.beginPath();
            ctx.fillText(start.data.toString(), xOffset - 0.8 * radius, yOffset + 0.2*radius);
            ctx.arc(xOffset, yOffset, radius, 0, 2 * Math.PI);
            ctx.stroke();

            var canvasPos = {};
            canvasPos[start.data] = [xOffset, yOffset];

            for (key in rowLens){

              var curNodes = rowLens[key];

              //split x axis
              var xArray = splitAxis(c.width, curNodes.length, radius);

              yOffset =  (2 * (parseInt(key)) - 1) * (radius * 1.1);


              //get parent nodes to draw edges
              if (parseInt(key) == 2){
                var parents = start;
              }
              else{
                var parents = rowLens[parseInt(key) - 1];
              }

              for (var i = 0; i < curNodes.length; i ++){


                  ctx.beginPath();
                  ctx.fillText(curNodes[i].data.toString(), xArray[i] - 0.8 * radius, yOffset + 0.2*radius);
                  ctx.arc(xArray[i], yOffset, radius, 0, 2 * Math.PI);
                  ctx.stroke();

                  canvasPos[curNodes[i].data] = [xArray[i], yOffset];

                  //connect all nodes to root
                  if (parents == start){
                    connectCircles(canvasPos[start.data][0], canvasPos[start.data][1], xArray[i] , yOffset, radius, c);
                    continue;
                  }

                  //check which nodes are connected to which
                  for (var j = 0; j < parents.length; j ++){

                    if (parents[j].children.includes(curNodes[i])){
                        connectCircles(canvasPos[parents[j].data][0],
                            canvasPos[parents[j].data][1], xArray[i] , yOffset, radius, c);
                        break;
                    }
                  }
              }

            }

        }

        function updateGraphDisplay(graph, graphPieces){

            var div = document.getElementById('canvases');
            div.innerHTML = '';

            var radius = 40;

            //each component is printed in separate canvas
            var allCanvases = [];

            for (key in graphPieces){

                var cur_root = graphPieces[key];

                //initialize empty canvas at right position
                var c = document.createElement('canvas');

                c.style.display = 'block';
                //c.style = 'border:1px solid';

                //calculate dimensions of canvas
                [depth, rowLens] = getCanvasDim(graph, cur_root);

                //not draw single nodes
                if (depth == 1){
                    continue;
                }

                var canvasWidth = 0;
                for (key in rowLens){

                    if (rowLens[key].length > canvasWidth){
                        canvasWidth = rowLens[key].length;
                    }
                }

                c.width = (canvasWidth * radius * 2 + radius * 2);
                c.height = (depth * radius * 2 * 1.1);
                c.getContext("2d").clearRect(0,0,c.width,c.height);

                canvasBfs(graph, cur_root, c, radius, rowLens);

                allCanvases.push(c);

                var k = allCanvases.length - 1;
                if (k > 0){
                    while (k > 0 && c.width < allCanvases[k - 1].width){
                        allCanvases[k] = allCanvases[k - 1];
                        k --;
                    }
                    allCanvases[k] = c;
                }

            }

            for (var i = 0; i < allCanvases.length; i ++){

                //wrap canvas in column for display
                var col = document.createElement('div');
                col.class = 'col';
                col.style = 'float:left';
                div.appendChild(col).appendChild(allCanvases[i]);

            }



        }

        function updateTableDisplay(newTable){

            var numCols = (newTable[0].length % colSize) == 0 ?
                        newTable[0].length/colSize : Math.floor(newTable[0].length/colSize) + 1;

            table_data.innerHTML = '';

            for (var i = 0; i < numCols; i ++){

                var col = document.createElement('div');
                col.class = "col-sm-2";
                col.style.textAlign = "left";
                col.style.float = "none";
                col.style.display = "inline-block";
                col.style.margin = '10px';

                var span = document.createElement('span');

                for (var j = i * colSize; j < (i+1)*colSize; j ++){

                    if (newTable[0][j] && newTable[1][j]){
                        span.appendChild(document.createTextNode(newTable[0][j] + ' | ' + newTable[1][j]));
                    }
                    else{
                        span.appendChild(document.createTextNode(''));
                    }
                    span.appendChild(document.createElement('br'));
                }

                table_data.appendChild(col).appendChild(span);
            }
        }





        function getNewTable(numEmployees){

            var newTable = [[],[]];

            var getManager = {};
            for (var i = 0; i < numEmployees; i ++){

                var employee = names[i];

                var index = Math.floor( Math.random() * managers.length);
                var manager = managers[index];

                var j = index + 1;

                var curManager = manager;
                var curEmployee = employee;
                var hasLoopBool = (curEmployee == getManager[curManager]);

                while(getManager[curManager]){
                    curManager = getManager[curManager];
                    curEmployee = getManager[curEmployee];
                    hasLoopBool = hasLoopBool || (getManager[curManager] == curEmployee);
                }

                //make sure employee does not manage themselves and
                //that manager of manager is not employee.
                while (employee == manager || hasLoopBool){
                    manager = managers[j % numEmployees];
                    j ++;

                    curManager = manager;
                    curEmployee = employee;
                    hasLoopBool = (curEmployee == getManager[curManager]);

                    while(getManager[curManager]){
                        curManager = getManager[curManager];
                        curEmployee = getManager[curEmployee];
                        hasLoopBool = hasLoopBool || (getManager[curManager] == curEmployee);
                    }
                }

                getManager[employee] = manager;

                if (employee && manager){
                    newTable[0].push(employee);
                    newTable[1].push(manager);
                }
            }

            return newTable;
        }

        function bfs(graph, start, toFind, printBool) {


            for (var i = 0; i < graph.nodes.length; i ++){
                graph.nodes[i].visited = false;
            }

            var fakeQueue = [start];
            if (printBool){
                console.log(start.data);
            }
            start.visited = true;

            while (fakeQueue.length > 0){


              var curr = fakeQueue[0];
              for (var i = 0; i < curr.children.length; i ++){

                //extra piece to count how many disconnected pieces in graph
                if (toFind && curr != start){

                    for (var j = 0; j < toFind.length; j ++){

                        if (toFind[j] == curr){
                            return j + 1;
                        }
                    }
                }


                if (!curr.children[i].visited){

                  curr.children[i].visited = true;
                  fakeQueue.push(curr.children[i]);
                  if (printBool){
                    console.log(curr.children[i].data);
                  }
                }
              }

              fakeQueue.shift();
            }
            if (printBool){
                console.log('----------------');
            }
            return false;
        }


        function bfsMod(graph, start, toFind, printBool) {


            for (var i = 0; i < graph.nodes.length; i ++){
                graph.nodes[i].visited = false;
            }

            var fakeQueue = [start];
            if (printBool){
                console.log(start.data);
            }
            start.visited = true;

            while (fakeQueue.length > 0){


              var curr = fakeQueue[0];
              for (var i = 0; i < curr.children.length; i ++){

                //extra piece to count how many disconnected pieces in graph
                if (toFind && curr != start && toFind == curr){
                    return true;
                }


                if (!curr.children[i].visited){

                  curr.children[i].visited = true;
                  fakeQueue.push(curr.children[i]);
                  if (printBool){
                    console.log(curr.children[i].data);
                  }
                }
              }

              fakeQueue.shift();
            }
            if (printBool){
                console.log('----------------');
            }
            return false;
        }

        function getDisconnectedPieces(graph){

            var graphPieces = {};
            var toFind = [];

            for (var i = 0; i < graph.nodes.length; i ++){
                graphPieces[graph.nodes[i].data] = curRoot;
            }

            for (var i = 0; i < graph.nodes.length; i ++){

                var curRoot = graph.nodes[i];
                graphPieces[curRoot.data] = curRoot;

                for (var j = 0; j < graph.nodes.length; j++){

                    if (i != j){
                        var toFind = graph.nodes[j];
                        var found = bfsMod(graph, curRoot, toFind, false);

                        if (found){
                            delete graphPieces[toFind.data];
                        }
                    }

                }
            }
            return graphPieces;
        }


        function getTree(newTable){

            console.clear();

            var graph = new Graph();
            var numEmployees = newTable[0].length;

            // all employees in left column are guaranteed to be unique so we add them to graph
            var employees = {};
            for (var i = 0; i < numEmployees; i ++){

                graph.addNode(new GraphNode(newTable[0][i]));

                //this keeps track of already added employees for speed
                employees[newTable[0][i]] = i + 1;
            }

            // add remaining nodes while also adding edges
            var count = 1;
            for (var i = 0; i < numEmployees; i ++){

                //new person to be added
                if (!employees[newTable[1][i]]){
                    var managerNode = new GraphNode(newTable[1][i]);
                    graph.addNode(managerNode);

                    employees[newTable[1][i]] = numEmployees + count;
                    count++;
                }
                //retrieve already added node
                else{
                    var nodeIndex = employees[newTable[1][i]] - 1;
                    var managerNode = graph.nodes[nodeIndex];
                }

                employeeNode = graph.nodes[employees[newTable[0][i]] - 1];

                //add edge from manager to employee
                managerNode.addChildren(employeeNode);
            }


            //calculate number of disconnected pieces
            var graphPieces = getDisconnectedPieces(graph);

            updateGraphDisplay(graph, graphPieces);
        }

        function refreshDemo(){

            var numEmployees = Math.floor(Math.random()*(names.length - 10)) + 10;
            //var numEmployees = 10;

            names.sort(() => Math.random() - 0.5);
            managers.sort (() => Math.random() - 0.5 );

            var newTable = getNewTable(numEmployees);

            //update table
            updateTableDisplay(newTable);
            getTree(newTable);
        }


    </script>

{%endblock%}