{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}trees and graphs{%endblock%}

{%block question_list%}
        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 1) }}">
        Path Existance</a></h3>
        <h4>Find whether there is a path between two nodes of a graph</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 2) }}">
        Balanced BST from array</a></h3>
        <h4>Produce a balanced Binary Search Tree given a sorted array</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 3) }}">
        Employee hierarchy (NE)</a></h3>
        <h4>Build a graph that represents the hierarchy among employees</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 4) }}">
        List of Depths (NE)</a></h3>
        <h4>Create a linked list for each level of a binary tree</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 6) }}">
        Successor Node (NE)</a></h3>
        <h4>Find the in-order successor of a given node</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 10) }}">
        Subtree of Tree (NE)</a></h3>
        <h4>Find if a binary tree is a subtree of a bigger binary tree</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 12) }}">
        Paths with Sum (NE)</a></h3>
        <h4>Find the number of paths in a binary tree that add to a given value</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

   var progressBar = document.getElementById('progress_bar');
    var numQuestions = 12 + 1;
    var numCompleted = 5;
    var numAppCompleted = 2;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';

    {%block chapter_num%}
    4
    {%endblock%}


</script>


{%endblock%}
