{%extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jinni_new_song.css') }}">
    </head>

<div class="row">
    <a href="{{url_for('main.algos')}}" >Back to Algos</a>
    <div class="col-lg-6 col-md-offset-3">

        <div id="progress_bar" class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
                    </div>
        <br>
        <h2>Learn about trees and graphs.</h2>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 1) }}">
        Path Existance (TODO)</a></h3>
        <h4>Find whether there is a path between two nodes of a graph</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 2) }}">
        Balanced BST from array</a></h3>
        <h4>Produce a balanced Binary Search Tree given a sorted array</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 3) }}">
        Employee hierarchy</a></h3>
        <h4>Build a graph that represents the hierarchy among employees</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 4) }}">
        List of Depths</a></h3>
        <h4>Create a linked list for each level of a binary tree</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 5) }}">
        Subtree of Tree</a></h3>
        <h4>Find if a binary tree is a subtree of a bigger binary tree.</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_trees_and_graphs', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>


    </div>
</div>




{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var progressBar = document.getElementById('progress_bar');
    var numQuestions = 12 + 1;
    var numCompleted = 3;
    var numAppCompleted = 1;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';
</script>

{%endblock%}