{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
        <a href="{{url_for('main.algos_stacks_and_queues', q_num=0)}}" >Back to Stacks and Queues</a>
{%endblock%}

{%block question_name%}
    Split Stacks
{%endblock%}

{%block question_explanation%}
    Design a class with a stack of stacks structures to handle multiple stacks as one big stack
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>TODO</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> </p>
    <section>
        <div class="code-lines">
            <p>TODO</p>
        </div>
    </section>
{%endblock%}

{%block code_complexity%}
    TODO
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/b7f089c72a801426b2cae86ac5a8b04c.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


{%endblock%}