{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}stacks and queues{%endblock%}

{%block question_list%}

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 1) }}">
        Three in One (NE)</a></h3>
        <h4>Use a single array to implement three stacks</h4>

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 2) }}">
        Stack Minimum</a></h3>
        <h4>Retrieve the minimum element of stack in O(1) time</h4>

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 3) }}">
        Split Stacks (NE)</a></h3>
        <h4>Handle multiple stacks as a single stack</h4>

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 4) }}">
        Queue via stacks (NE)</a></h3>
        <h4>Implement queue structure with two stacks</h4>

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 5) }}">
        Sort Stack</a></h3>
        <h4>Sort a stack by using only one additional stack <br> as data structure.</h4>

        <h3><a href = "{{ url_for('main.algos_stacks_and_queues', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

  var numQuestions = 6;
  var numCompleted = 2;
  var numAppCompleted = 3;

  var progressBar = document.getElementById('progress_bar');

    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';



</script>


{%endblock%}

