
{%extends "algos/topic_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block topic_name%}linked lists{%endblock%}

{%block question_list%}
        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 1) }}">
        Remove Duplicates</a></h3>
        <h4>Remove duplicate values from linkedList</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 2) }}">
        k-th to last element</a></h3>
        <h4>Return the k-th to last element in linkedList</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 3) }}">
        Delete middle node</a></h3>
        <h4>Remove a middle node from linkedList</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 4) }}">
        Partition linkedList (TODO)</a></h3>
        <h4>Partition linkedList around a given value</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 5) }}">
        Sum Lists</a></h3>
        <h4>Sum two numbers. Each represented by a linked list.</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>

        <h3><a href = "{{ url_for('main.algos_linked_lists', q_num = 0) }}">
        TODO</a></h3>
        <h4>---</h4>


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}

<script>

    var numQuestions = 8;
    var numCompleted = 4;
    var numAppCompleted = 0;

    //questions completed contribute with 1/numQuestions
    //questions with app completed contribute 1/(2*numQuestions)
    var progressBar = document.getElementById('progress_bar');

    var currProgress = (numCompleted / numQuestions + numAppCompleted / (2*numQuestions)) * 100;

    progressBar.style.width = currProgress.toString() + '%';
    progressBar.innerHTML = parseInt(currProgress).toString() + '%';



</script>


{%endblock%}
