{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block question_name%}
    Delete random middle node
{%endblock%}

{%block question_explanation%}
    Write an algorithm to remove a random middle node from a linkedList without accessing
    any other node but the one being removed.
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>TODO</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> </p>
    <section>
        <div class="code-lines">
            <p>TODO</p>
        </div>
    </section>
{%endblock%}

{%block code_complexity%}
    TODO
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/6e8b23cf5550ea2d224f0a03f31e6e93.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


{%endblock%}