{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}


{%block back_to%}
<a href="{{url_for('main.algos_linked_lists', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Linked Lists</a>
{%endblock%}

{%block back_to_top%}
<a href="{{url_for('main.algos_linked_lists', q_num=0)}}" >
    Back to Linked Lists</a>
{%endblock%}

{%block question_name%}
    Remove Duplicates
{%endblock%}

{%block question_explanation%}
    Write an algorithm to remove all duplicate values from a linked list using O(1) space.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>Imagine a linked list is used to store a polynomial. The nodes store the coefficients for the polynomial. Assume
        the <span class="code">head</span> of the linked list stores the coefficient for the term with degree 0,
        <span class="code">head.next</span> the coefficient for the term with degree 1, and so forth. The algorithm
    in this question can be used to ensure a polynomial does not have any terms with the same coefficients.</p>

    <button onclick="getPoly()">Get Random Polynomial</button>

    <div id="poly_display" class="row"></div>
    <div id="poly_display_clean" class="row"></div>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> The idea is to use
two pointers to sweep the elements of the linked list.</p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/7240448c1b1c38855792fefafef5aa3a.js"></script>
        </div>
    </section>

<p><span class="step">Step 2</span> The <span class="code">slower</span> pointer stays staionary while the
<span class="code">runner</span> pointer sweeps the rest of the linked list. If the value referenced
by the <span class="code">runner</span> equals that referenced by the <span class="code">slower</span>,
we delete that element. </p>
    <section>
        <div class="code-lines">
            <script src="https://gist.github.com/frezafoltran/ba12edc67c379ee822fc38259a6ea6c5.js"></script>
        </div>
    </section>

{%endblock%}

{%block code_complexity%}
    <p>The time complexity is O(n*n) as we need to iterate through entire linked list with both pointers.
    The space complexity is O(1).</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/b7f089c72a801426b2cae86ac5a8b04c.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

        //to be used in dynamodb
      {%block q_name%}
      'remove_duplicates_2.1'
      {%endblock%}

        var LinkedList = function(value, coef) {
          this.value = value;
          this.next = null;
          this.coef = coef;
        };

        function delDuplicateNoBuffer(root){

          var runner;
          var slower = root;
          var delIndex = [];
          var i1 = 0, i2 = 0;

          while (slower){

            runner = slower;
            while (runner.next){

              if (runner.next.value == slower.value){
                runner.next = runner.next.next;
                delIndex.push(i2);
                i2 += 2;
              }
              else{
                runner = runner.next;
                i2++;
              }
            }
            slower = slower.next;
            i1++;
            i2 = i1;

          }
          return delIndex;
        }

        function displayPoly(root, cleanBool){

            var cur = root;
            var polyDisplay = cleanBool ? document.getElementById('poly_display_clean') : document.getElementById('poly_display');
            polyDisplay.innerHTML = '';
            var index = 0;

            if (cleanBool){
                polyDisplay.appendChild(document.createElement('h4')).appendChild(document.createTextNode('Clean Polynomial'));
              }

            while (cur){

              var pow = cur.coef.toString();
              if (pow == 0){
                var coefStr = cur.next ? ' + ' : '';
              }
              else if (pow == 1){
                var coefStr = cur.next ? 'x' +  ' + ' : 'x';
              }
              else{
                var coefStr = cur.next ? 'x^' + pow + ' + ' : 'x^' + pow;
              }

              var span1 = document.createElement('span');
              var span2 = document.createElement('span');
              span1.style.fontWeight = 'bold';
              span1.style.fontSize = '25px';

              span2.style.color = 'gray';
              span2.style.fontSize = '20px';


              polyDisplay.appendChild(span1).
                          appendChild(document.createTextNode(cur.value.toString()));
              polyDisplay.appendChild(span2).
                          appendChild(document.createTextNode(coefStr));

              cur = cur.next;

            }

        }


        function getPoly(){

            var degree = Math.floor(Math.random() * (10 - 2)) + 2;

            var rootVal = Math.floor(Math.random()*(5 - 2)) + 2;
            var root = new LinkedList(rootVal, 0);

            var cur = root;
            for (var i = 0; i < degree; i ++){

                var val = Math.floor(Math.random()*(5 - 2)) + 2;
                cur.next = new LinkedList(val, i + 1);
                cur = cur.next;

            }


            displayPoly(root, false);

            delDuplicateNoBuffer(root);
            displayPoly(root, true);

        }

        getPoly();

    </script>


{%endblock%}