{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
<a href="{{url_for('main.algos_linked_lists', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Linked Lists</a>
{%endblock%}

{%block back_to_top%}
<a href="{{url_for('main.algos_linked_lists', q_num=0)}}" >
    Back to Linked Lists</a>
{%endblock%}

{%block question_name%}
    Partition linkedList
{%endblock%}

{%block question_explanation%}
    Write an algorithm to partition a linkedList based on an input value.
    For example, if the input value is <span class="code">x</span>, then any node
    in the linkedList which value is smaller than <span class="code">x</span> must precede
    any node which value is greater than <span class="code">x</span>.
{%endblock%}


{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>TODO</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> </p>
    <section>
        <div class="code-lines">
            <p>TODO</p>
        </div>
    </section>
{%endblock%}

{%block code_complexity%}
    TODO
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/e438b4f5bef30f165c04c6ba93cd6596.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


{%endblock%}