{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block style%}
.box{
padding:10px;
background-color:rgba(30, 144, 255, 0.6);
color:white;
margin:3px;
}
{%endblock%}

{%block back_to%}
<a href="{{url_for('main.algos_moderate', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Moderate</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_moderate', q_num=0)}}" >Back to Moderate</a>
{%endblock%}

{%block tags%}

{%endblock%}

{%block sim_questions%}

{%endblock%}

{%block sim_questions_side%}

{%endblock%}

{%block question_name%}
    Operations
{%endblock%}

{%block question_explanation%}
    Write an algorithm to implement subtraction, multiplication and division by only using
    the addition operator. Assume the results of any operation are integers.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}

    <p></p>
    <p><a style="cursor:pointer" onclick="refreshDemo()">Refresh</a></p>
    <div class="container row">
        <p><span style="font-weight:bold;color:green">a </span>= <span id="a">2</span>,
            <span style="font-weight:bold;color:red">b </span>= <span id="b">90</span></p>

        <p><span style="font-weight:bold;color:green">a </span> - <span style="font-weight:bold;color:red">b </span> =
            <span class="box">Flip sign of <span style="font-weight:bold;color:red">b </span></span>
            <img src="{{url_for('static', filename='images/right_arrow.png')}}" style="width:15px;height:15px;">
            <span class="box">Add result to <span style="font-weight:bold;color:green">a </span></span>
            :
            <span id="subtract"></span>
        </p>
        <br>
        <p><span style="font-weight:bold;color:green">a </span> * <span style="font-weight:bold;color:red">b </span> =
            <span class="box">Add <span style="font-weight:bold;color:red">b </span> to
                itself (<span style="font-weight:bold;color:green">a </span> - 1) times</span>
            :
            <span id="multiply"></span>
        </p>
        <br>
        <p><span style="font-weight:bold;color:green">a </span> / <span style="font-weight:bold;color:red">b </span> =

            <span class="box">Solve <span style="font-weight:bold;color:green">a </span>
                = <span style="font-weight:bold;color:red">b </span>x for x</span>
            :
            <span id="divide"></span>
        </p>

    </div>


{%endblock%}

{%block code_intuition%}
<p>The intuition is displayed in the demo above. Read the digest below for more details.</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> Subtracting <span class="code">b</span> from <span class="code">a</span> is
the same as adding <span class="code">b</span> to the negation of <span class="code">a</span>. Thus, it suffices
to implement a method to negate <span class="code">a</span>:</p>
<section>
    <div class="code-lines">
        <script src="https://gist.github.com/frezafoltran/030cc30d0d77a03ed009bb49c3d6c871.js"></script>
    </div>
</section>

<p><span class="step">Step 2</span> Multiplying <span class="code">a</span> by <span class="code">b</span> is the
same as adding <span class="code">b</span>, <span class="code">a</span> times. The code for this is implemented below,
where the <span class="code">abs()</span> function is implemented by using the <span class="code">negate()</span>
function discussed in <span class="code">Step 1</span>.</p>
<section>
    <div class="code-lines">
        <script src="https://gist.github.com/frezafoltran/07374ef24450a16d649e69cd9cca96f8.js"></script>
    </div>
</section>

<p><span class="step">Step 2</span> To divide <span class="code">a</span> by <span class="code">b</span> we simply solve
    the equation <span class="code">bx = a</span> for x. That is, we keep adding b to a variable
    until just before the sum exceeds <span class="code">a</span>. The number of times we added <span class="code">b</span>
    is our result:</p>
<section>
    <div class="code-lines">
        <script src="https://gist.github.com/frezafoltran/ad707c9286dbb4a6218c214696181f62.js"></script>
    </div>
</section>



{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/c83b4137d436b95e0557a581d85f4804.js"></script>
{%endblock%}


{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'operations_16.9'
      {%endblock%}

    function negate(a){

        var neg = 0;
        var newSign = a < 0 ? 1 : -1;
        var delta = newSign;

        while(a != 0){

            var difSigns = (a + delta > 0) != (a > 0);
            if (a + delta != 0 && difSigns){
                delta = newSign;
            }
            neg += delta;
            a += delta;
            delta += delta;;
        }
        return neg;
    }

    function abs(a){

        if (a < 0){
            return negate(a);
        }
        else{
            return a;
        }
    }

    function subtract(a, b){
        return a + negate(b);
    }

    function multiply(a, b){

        if (a < b){
            return multiply(b, a);
        }
        var sum = 0;
        for (var i = abs(b); i > 0; i = subtract(i, 1)){
            sum += a;
        }

        if (b < 0){
            var sum = negate(sum);
        }
        return sum;

    }

    function divide(a, b){

        if (b == 0){
            return "CAN\'T DIVIDE BY ZERO";
        }

        var absA = abs(a);
        var absB = abs(b);

        var prod = 0, x = 0;
        while(prod + absB <= absA){
            prod += absB;
            x ++;
        }

        if ((a < 0 && b < 0) || (a > 0 && b > 0)){
            return x;
        }
        else{
            return negate(x);
        }
    }


    function refreshDemo(){

        var a = Math.floor(Math.random() * 10);
        var b = Math.floor(Math.random() * (10 - 1)) + 1;

        document.getElementById('a').innerHTML = a;
        document.getElementById('a').style.fontWeight = 'bold';

        document.getElementById('b').innerHTML = b;
        document.getElementById('b').style.fontWeight = 'bold';

        document.getElementById('subtract').innerHTML = subtract(a, b);
        document.getElementById('subtract').style.fontWeight = 'bold';

        document.getElementById('multiply').innerHTML = multiply(a, b);
        document.getElementById('multiply').style.fontWeight = 'bold';

        document.getElementById('divide').innerHTML = divide(a, b);
        document.getElementById('divide').style.fontWeight = 'bold';

    }


    refreshDemo();





    </script>


{%endblock%}