{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
<a href="{{url_for('main.algos_moderate', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Moderate</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_moderate', q_num=0)}}" >Back to Moderate</a>
{%endblock%}

{%block tags%}

{%endblock%}

{%block sim_questions%}

{%endblock%}

{%block sim_questions_side%}

{%endblock%}

{%block question_name%}
    English Integer
{%endblock%}

{%block quick_explanation%}Convert an int to its corresponding english sentence.{%endblock%}

{%block question_explanation%}
    Given an integer, find the corresponding english sentence that corresponds to it. For example,
    the number 24 becomes "twenty four".
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}

    <p>This is useful in user accessibility features. Imagine you must design a system that reads
    the numbers in a screen to a blind user. The algorithm in this question comes in handy.</p>
    <p><a style="cursor:pointer" onclick="refreshDemo()"></a></p>
    <div id="results" class="container row">



    </div>


{%endblock%}

{%block code_intuition%}
<p></p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> ...</p>
<section>
    <div class="code-lines">
    </div>
</section>



{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'english_integer_16.8'
      {%endblock%}



    function refreshDemo(){



    }


    refreshDemo();





    </script>


{%endblock%}