{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block back_to%}
<a href="{{url_for('main.algos_moderate', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Moderate</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_moderate', q_num=0)}}" >Back to Moderate</a>
{%endblock%}

{%block tags%}

{%endblock%}

{%block sim_questions%}

{%endblock%}

{%block sim_questions_side%}

{%endblock%}

{%block question_name%}
    Number Swapper
{%endblock%}

{%block question_explanation%}
    Given two numbers, write an algorithm to swap their values without using any additional data structures.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}
    <p>Below you can see a breakdown of the output of the algorithm in this question. Click
        <span class="code">Refresh</span> to see another example.</p>

    <p><a style="cursor:pointer" onclick="refreshDemo()">Refresh</a></p>

    <div class="container row" style="display:flex;align-items:center;flex-wrap:wrap;">

        <div class="col-md-4 col-md-offset-2">
            <p><span style="font-weight:bold;">a = </span>
                <span class="a_val" style="color:orange;"></span>,
                <span style="font-weight:bold;">b = </span>
                <span class="b_val" style="color:blue;"></span></p>

            <p><span style="font-weight:bold;">a = a - b = </span>
                <span id="a_min_b_val"></span></p>
            <p><span style="font-weight:bold;">b = a + b = </span>
                <span class="a_val" style="color:orange;"></span></p>
            <p><span style="font-weight:bold;">a = b - a = </span>
                <span class="b_val" style="color:blue;"></span></p>

        </div>

        <div class="col-sm-1">
            <p style="float:center;">or</p>
        </div>

        <div class="col-md-4">
            <p><span style="font-weight:bold;">a = </span>
                <span class="a_val_bin" style="color:orange;"></span>,
                <span style="font-weight:bold;">b = </span>
                <span class="b_val_bin" style="color:blue;"></span></p>

            <p><span style="font-weight:bold;">a = a ^ b = </span>
                <span id="a_xor_b_val"></span></p>
            <p><span style="font-weight:bold;">b = a ^ b = </span>
                <span class="a_val_bin" style="color:orange;"></span></p>
            <p><span style="font-weight:bold;">a = a ^ b = </span>
                <span class="b_val_bin" style="color:blue;"></span></p>
        </div>

    </div>


{%endblock%}

{%block code_intuition%}
<p>Please refer to steps below.</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> This algorithm is pretty clear once you understand the flow of the operations
above. When using addition and subtraction, there's not much to explain. Note that:
    <span class="code">b + (a - b) = a</span> and <span class="code">a - (a - b) = b</span></p>



<p><span class="step">Step 2</span> The advantage of using XOR is that we do not limit ourselves to <span class="code">a, b</span>
being integers. To understand the flow of XORs, consider a single bit of <span class="code">a, b</span>, say the first.

    <br><br>The first XOR checks if the first bit of <span class="code">a</span> is different than the first of <span class="code">a</span>
    or not. If it's the same, the first bit of <span class="code">a</span> becomes 0, else 1.

    <br><br>Then, if the first bits are the same, the second XOR spits out the first bit of <span class="code">b</span>.
    Else, it spits out the first bit of <span class="code">a</span>. Either way, the correct bit is stored in <span class="code">b</span>.
    The reasoning for the last XOR is then analogous.
</p>




{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/e91859089458fa929d3aec306470aa27.js"></script>
{%endblock%}




{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'number_swapper_16.1'
      {%endblock%}


      function refreshDemo(){

        var aVal = document.getElementsByClassName('a_val');
        var bVal = document.getElementsByClassName('b_val');
        var aMinb = document.getElementById('a_min_b_val');

        var aValBin = document.getElementsByClassName('a_val_bin');
        var bValBin = document.getElementsByClassName('b_val_bin');
        var aXORb = document.getElementById('a_xor_b_val');

        var a = Math.floor(Math.random()* (100 - 1)) + 1;
        var b = Math.floor(Math.random()* (100 - 1)) + 1;

        aVal[0].innerHTML = a;
        aVal[1].innerHTML = a;
        bVal[0].innerHTML = b;
        bVal[1].innerHTML = b;
        aMinb.innerHTML = a - b;

        aValBin[0].innerHTML = a.toString(2);
        aValBin[1].innerHTML = a.toString(2);
        bValBin[0].innerHTML = b.toString(2);
        bValBin[1].innerHTML = b.toString(2);
        aXORb.innerHTML = (a ^ b).toString(2);

      }

      refreshDemo();




    </script>


{%endblock%}