{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block style%}
.box{
padding:10px;
background-color:rgba(30, 144, 255, 0.6);
color:white;
margin:3px;
}
{%endblock%}

{%block back_to%}
<a href="{{url_for('main.algos_sorting', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Sorting</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_sorting', q_num=0)}}" >Back to Sorting</a>
{%endblock%}

{%block tags%}

{%endblock%}

{%block sim_questions%}

{%endblock%}

{%block sim_questions_side%}

{%endblock%}

{%block question_name%}
    Quicksort
{%endblock%}

{%block quick_explanation%}{%endblock%}

{%block question_explanation%}

{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}

    <div class="container row">


    </div>


{%endblock%}

{%block code_intuition%}
<p></p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span>
</p>
<section>
    <div class="code-lines">
    </div>
</section>

<p><span class="step">Step 2</span>
</p>
<section>
    <div class="code-lines">
    </div>
</section>




{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
<script src="https://gist.github.com/frezafoltran/a6d899df6d66e26b7d0b30483696a353.js"></script>
{%endblock%}


{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'quicksort_30.1'
      {%endblock%}




    </script>


{%endblock%}