{%extends "algos/question_base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block style%}
.slot{
padding:10px;
background-color:rgba(30, 144, 255, 0.6);
color:white;
margin:3px;
}
{%endblock%}

{%block back_to%}
<a href="{{url_for('main.algos_hard', q_num=0)}}" >
<img src="{{url_for('static', filename='images/back_arrow.png')}}"
                 style="width:80px; height:50px;padding-left:10px;"><br>
    Back to Hard</a>
{%endblock%}

{%block back_to_top%}
    <a href="{{url_for('main.algos_hard', q_num=0)}}" >Back to Hard</a>
{%endblock%}

{%block tags%}

{%endblock%}

{%block sim_questions%}

{%endblock%}

{%block sim_questions_side%}

{%endblock%}

{%block question_name%}
    Missing Number
{%endblock%}

{%block question_explanation%}
Given an array of length n which contains all integers from 0 to n, except for exactly one integer,
find the missing integer. Assume you can only access each bit of a number a a time, which takes O(1) time.
Find the missing integer in O(n) time.
{%endblock%}

{%block question_source%}

{%endblock%}

{%block code_application%}

    <p></p>
    <p><a style="cursor:pointer" onclick="refreshDemo()">Shuffle</a></p>
    <div class="container row">

        <p id="array"></p>
        <p>The missing number is <span id="result" style="color:red"></span></p>


    </div>



{%endblock%}

{%block code_intuition%}
<p>The idea is to construct the missing number bit by bit by analysing each bit of the numbers present in the array.</p>
{%endblock%}

{%block code_digest%}
<p><span class="step">Step 1</span> We solve this problem recursively.
    Starting from the least significant bit (column 0) of the current input, we will separate the input into two arrays.
    One has the numbers ending in one and the other the numbers ending in zero.
</p>
<section>
    <div class="code-lines">
        <script src="https://gist.github.com/frezafoltran/e270932ad8928e9c618b85ef38838488.js"></script>
    </div>
</section>

<p><span class="step">Step 2</span> Now notice that if we have the binary numbers from 0 to
    <span class="code">n</span> (including <span class="code">n</span>), the sum
    of the zeros in the least significant bit (LSB) equals the sum of ones in the LSB if
    <span class="code">n</span> is odd. If <span class="code">n</span> is even, the sum
    of the zeros in the LSB equals one plus the sum of ones in the LSB.
</p>


<p><span class="step">Step 3</span> Thus, if the sum
    of the zeros in the LSB is less than or equal to the sum of ones in the LSB,
    the missing number has LSB equal to 0. Else its LSB is 1. This reasoning applies recursively. Thus, we update the
    each column of the output:
</p>
<section>
    <div class="code-lines">
        <script src="https://gist.github.com/frezafoltran/8d1df8ecd1357ceba84adc5f4473b9b9.js"></script>
    </div>
</section>




{%endblock%}

{%block code_complexity%}
    <p>---</p>
{%endblock%}


{%block full_code_gist%}
    <script src="https://gist.github.com/frezafoltran/1bed848ce1614e92517b74cece70bea4.js"></script>
{%endblock%}


{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}
    <script>

    //to be used in dynamodb
      {%block q_name%}
      'missing_number_17.4'
      {%endblock%}


    function findMissing(array){
        return findMissingHelper(array, 0);
    }

    function findMissingHelper(input, column){

        if (column >= 32 || input.length == 0){
            return 0;
        }

        var oneBits = [], zeroBits = [];

        for (var i = 0; i < input.length; i ++){

            var cur = input[i].toString(2);
            if (column > cur.length - 1 ||cur.charAt(cur.length - 1 - column) == "0"){
                zeroBits.push(input[i]);
            }
            else{
                oneBits.push(input[i]);
            }
        }

        if (zeroBits.length <= oneBits.length){
            var v = findMissingHelper(zeroBits, column + 1);
            return (v << 1) | 0;
        }
        else{
            var v = findMissingHelper(oneBits, column + 1);
            return (v << 1) | 1;
        }
    }

    function newSpan(i, val){

        var s = document.createElement('span');
        s.style.padding = '10px';
        s.style.color = 'white';
        s.style.margin = '3px';
        s.innerHTML = val;
        s.style.backgroundColor = i % 2 ? 'orange' : 'blue';

        return s;
    }

    var arrayDiv = document.getElementById('array');


    function refreshDemo(){

        arrayDiv.innerHTML = '';
        console.clear();
        var array = [];
        var len = Math.floor(Math.random() * (15 - 10)) + 10;
        var skip = Math.floor(Math.random() * len);

        for (var i = 0; i < len; i ++){
            array.push(i);
        }

        array = array.sort(() => Math.random() > 0.5 ? 1 : -1);
        array = array.slice(0, skip).concat(array.slice(skip + 1, array.length));

        for (var i = 0; i < array.length; i ++){

            var s = newSpan(i, array[i]);
            arrayDiv.appendChild(s);

            if ( (i != 0) && (i % 5) == 0){
                arrayDiv.appendChild(document.createElement('br'));
                arrayDiv.appendChild(document.createElement('br'));
            }
        }


        for (var i = 0; i < array.length; i ++){

            console.log(array[i]);
        }
        console.log('------');


        document.getElementById('result').innerHTML = findMissing(array);

    }




    refreshDemo();





    </script>


{%endblock%}